<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.samsung.android.galaxycontinuity" platformBuildVersionCode="33" platformBuildVersionName="13">
    <permission android:name="com.sec.android.permission.SAMSUNG_FLOW_RECEIVER_PERMISSION" android:protectionLevel="signature"/>
    <permission android:name="com.samsung.android.galaxycontinuity.permission.SAMSUNGFLOW" android:protectionLevel="signature"/>
    <permission android:name="com.samsung.permission.READ_KNOX_NOTIFICATION" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.sec.android.permission.SIDESYNC_RECEIVER_PERMISSION" android:protectionLevel="signatureOrSystem"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="com.samsung.android.api.version.2601" android:required="false"/>
    <uses-permission android:name="android.permission.READ_CLIPBOARD_IN_BACKGROUND"/>
    <uses-permission android:name="com.samsung.permission.READ_SM_DATA"/>
    <uses-permission android:name="com.samsung.permission.WRITE_SM_DATA"/>
    <uses-permission android:name="com.samsung.android.permission.SEM_APP_RESTRICTION"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.samsung.permission.READ_KNOX_NOTIFICATION"/>
    <uses-permission android:name="com.samsung.clipboardsaveservice.CLIPBOARDSAVESERVICE_PERMISSION"/>
    <uses-permission android:name="com.samsung.android.pass.permissions.MANAGE_PASS_SERVICE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:maxSdkVersion="29" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="29" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.system.permission.READ_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="sec.android.permission.READ_MSG_PREF"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.TETHER_PRIVILEGED"/>
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.NETWORK_STACK"/>
    <uses-permission android:name="android.permission.MAINLINE_NETWORK_STACK"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.READ_ALARM"/>
    <uses-permission android:name="android.permission.PEERS_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.samsung.android.permission.REQUEST_PROCESS_FIDO"/>
    <uses-permission android:name="com.samsung.android.authservice.permission.REQUEST_AUTH_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.sec.android.permission.SAMSUNG_FLOW_RECEIVER_PERMISSION"/>
    <uses-permission android:name="com.samsung.android.pass.permissions.USE_PASS_SERVICE"/>
    <uses-permission android:name="com.samsung.android.camera.iris.permission.USE_IRIS"/>
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_801d432af1f4ffe2b99cb64d3daf0c450384f107b3373eab0813f9868c8c3b67b0e5a404ddc213f8be95d28614429ee224ce7724a76fb6e402d98580916467bbb85ff90a213b08ee5c3bdfb6f5b5942906296029a8ba16516726f95caa02bc1013eafb9461dd9bf392f57c26ac4b2e687e5a9c238d9ad3f3b5f9622475cbaa4f"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:maxSdkVersion="29" android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="com.sec.android.permission.SIDESYNC_SOURCE_PSS"/>
    <uses-permission android:name="com.sec.android.permission.SIDESYNC_SINK_PSS"/>
    <uses-permission android:name="com.sec.android.permission.SIDESYNC_RECEIVER_PERMISSION"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.samsung.android.permission.BIOMETRICS_PRIVILEGED"/>
    <uses-permission android:name="android.permission.BLUETOOTH_STACK"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="com.samsung.android.galaxycontinuity.permission.SAMSUNGFLOW"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="com.samsung.android.scs.permission.SUPPORTED_FEATURE_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.scs.ai.suggestion.permission.SUGGESTION_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.scs.ai.image.permission.BIND_IMAGE_SERVICE"/>
    <uses-permission android:name="com.samsung.android.scs.ai.image.permission.IMAGE_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.scs.ai.text.permission.TEXT_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.scs.ai.asr.permission.BIND_SPEECH_RECOGNITION_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_samsungflow" android:label="@string/app_name" android:largeHeap="true" android:name="com.samsung.android.galaxycontinuity.SamsungFlowApplication" android:resizeableActivity="true" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <provider android:authorities="com.samsung.android.galaxycontinuity.clipboardcontentprovider" android:exported="true" android:name="com.samsung.android.galaxycontinuity.clipboard.ClipboardContentProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.samsung.android.galaxycontinuity.manager.InternalBroadcastReceiver" android:permission="com.sec.android.permission.SAMSUNG_FLOW_RECEIVER_PERMISSION"/>
        <receiver android:exported="true" android:name="com.samsung.android.galaxycontinuity.manager.GlobalBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.samsung.intent.action.LAZY_BOOT_COMPLETE"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="com.samsung.device" android:required="false"/>
        <activity android:excludeFromRecents="true" android:name="com.samsung.android.galaxycontinuity.activities.phone.MirroringUserConsentActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.phone.FlowMainActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/about_terms_and_conditions" android:name="com.samsung.android.galaxycontinuity.activities.TermsActivity"/>
        <activity android:exported="true" android:label="@string/settings" android:name="com.samsung.android.galaxycontinuity.activities.SettingsActivity">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SEC_APPLICATION_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:label="@string/about" android:name="com.samsung.android.galaxycontinuity.activities.AboutActivity"/>
        <activity android:label="@string/about_open_source_licences" android:name="com.samsung.android.galaxycontinuity.activities.AboutDetailActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/notices" android:name="com.samsung.android.galaxycontinuity.activities.phone.NoticeActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/notices" android:name="com.samsung.android.galaxycontinuity.activities.phone.NoticeDetailActivity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.WakeupActivity" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/manage_pcs_title" android:name="com.samsung.android.galaxycontinuity.activities.phone.DeviceManagementActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.samsung.android.galaxycontinuity.activities.phone.FlowDeviceDetailActivity"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.samsung.android.galaxycontinuity.activities.tablet.ShortcutActivity" android:noHistory="true" android:resizeableActivity="true" android:supportsPictureInPicture="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.samsung.android.galaxycontinuity.action.ACTION_SMARTVIEW_FROM_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.ShareActivity" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.ChooserDelegateActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.tablet.FavoriteAppPickerActivity" android:noHistory="true"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.AttachSheetActivity" android:noHistory="true"/>
        <activity android:name="com.samsung.android.galaxycontinuity.activities.UpdateDialogActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:exported="true" android:name="com.samsung.android.galaxycontinuity.SplashActivity" android:supportsPictureInPicture="true" android:theme="@style/Theme.AppTheme.Transparent.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="ext" android:pathPrefix="/android.com:pkg" android:scheme="vnd.android.nfc"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.sec.android.app.launcher.icon_theme" android:value="themeColor"/>
        </activity>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:launchMode="singleTask" android:name="com.samsung.android.galaxycontinuity.activities.tablet.NotificationsActivity" android:permission="com.samsung.android.galaxycontinuity.permission.SAMSUNGFLOW" android:resizeableActivity="true" android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="com.samsung.android.galaxycontinuity.common.ACTION_TAB_ONGOING_CLICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.samsung.android.galaxycontinuity.activities.tablet.ChatActivity" android:theme="@style/ActionBarAppTheme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.tablet.ConnectionActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.samsung.android.galaxycontinuity.activities.tablet.IntroActivity"/>
        <activity android:excludeFromRecents="true" android:name="com.samsung.android.galaxycontinuity.activities.MessageDialogActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:configChanges="fontScale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.CustomDialogActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.tablet.AuthActivity"/>
        <activity android:name="com.samsung.android.galaxycontinuity.activities.tablet.IncomingCallActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:enabled="true" android:exported="true" android:name="com.samsung.android.galaxycontinuity.activities.SetupWizardWelcomeActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle">
            <intent-filter>
                <action android:name="com.samsung.android.spv.ACTION_VIEW_DETAIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.phone.BiometricsAuthActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/notification_filter_title" android:name="com.samsung.android.galaxycontinuity.activities.phone.NotificationFilterActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.phone.SetupEnrollmentActivity"/>
        <activity android:name="com.samsung.android.galaxycontinuity.activities.tablet.NotificationDetailActivity" android:theme="@style/ActionBarAppTheme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.BioAuthActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:configChanges="fontScale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.samsung.android.galaxycontinuity.activities.WelcomeActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/menu_smart_view" android:launchMode="singleTask" android:name="com.samsung.android.galaxycontinuity.activities.tablet.MirroringActivity" android:resizeableActivity="true" android:supportsPictureInPicture="true" android:theme="@style/ActionBarAppTheme">
            <layout android:gravity="end|center|top" android:minHeight="200.0dip" android:minWidth="100.0dip"/>
            <layout android:gravity="end|center|top" android:minHeight="200.0dip" android:minWidth="100.0dip"/>
        </activity>
        <activity android:label="@string/add_app_from_phone" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.tablet.ShortcutListActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.samsung.android.galaxycontinuity.activities.PermissionRequestActivity" android:theme="@style/Theme.AppTheme.Transparent.NoTitle"/>
        <activity android:name="com.samsung.android.galaxycontinuity.activities.PermissionsActivity"/>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="com.samsung.android.icon_container.feature_appicon" android:value="ADAPTIVEICON_SHADOW"/>
        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
        <meta-data android:name="DisplayCutoutBackground" android:value="true"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.samsung.android.multiuser.disable_sub_user" android:value="true"/>
        <provider android:authorities="com.samsung.android.galaxycontinuity.drag.provider" android:enabled="true" android:exported="true" android:grantUriPermissions="true" android:name="com.samsung.android.galaxycontinuity.share.DragDropContentProvider"/>
        <provider android:authorities="com.samsung.android.galaxycontinuity.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <provider android:authorities="com.samsung.android.galaxycontinuity.MirroringStateProvider" android:exported="true" android:name="com.samsung.android.galaxycontinuity.manager.ExportedMirroringStateProvider"/>
        <service android:exported="true" android:name="com.samsung.android.galaxycontinuity.notification.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:configChanges="keyboardHidden|orientation|screenSize" android:enabled="true" android:exported="false" android:foregroundServiceType="location|microphone" android:label="Rotation Service" android:name="com.samsung.android.galaxycontinuity.services.SamsungFlowPhoneService" android:permission="com.samsung.android.galaxycontinuity.permission.SAMSUNGFLOW">
            <intent-filter>
                <action android:name="com.samsung.android.galaxycontinuity.services.intent.SAMSUNGFLOW_SERVICE"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="location|microphone" android:name="com.samsung.android.galaxycontinuity.services.SamsungFlowTabletService" android:permission="com.samsung.android.galaxycontinuity.permission.SAMSUNGFLOW">
            <intent-filter>
                <action android:name="com.samsung.android.galaxycontinuity.services.intent.SAMSUNGFLOW_TABLETSERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.samsung.android.galaxycontinuity.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <meta-data android:name="SPDE.build.signature" android:value="96d4a88e6956bc4fde9654f4b9afb26479ea7f94/104986210/sep-release/SamsungFlow-406000-4.9.03"/>
        <meta-data android:name="SPDE.env.version" android:value="4.2.1/G31.1.15/0.9.36"/>
    </application>
</manifest>